/* .App {
  text-align: center;
  padding: 1rem;
}

.App-container {
} */

.App-header {
  /* background-image: url(../src/assets/images/cottage.png); */
  background-image: url(../src/assets/images/beach_path.jpeg);
  background-repeat: no-repeat;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  color: white;
}

.App-header h1,
.App-header h2 {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.site-navigation {
  margin: 1rem;
}

.current-weather {
  margin: 0 auto;
  padding: 0;
}

.weather-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  color: #fff;
}

.forecast {
  list-style: none;
}

.availability-container {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.current-weather ol {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.current-weather ol li:first-child {
  align-items: center;
  font-size: 3rem;
}

.current-weather ol li:nth-child(2) {
  flex-direction: column !important;
  align-items: center;
}

.current-weather ol li:nth-child(3) {
  flex-direction: column !important;
  align-items: center;
}

.current-weather ol li:nth-child(3) img {
  width: 10rem;
}

.current-weather ol li:nth-child(4) {
  flex-direction: column !important;
  align-items: center;
}

.current-weather ol li:nth-child(5) {
  flex-direction: column !important;
  align-items: center;
}

.current-weather ol li:last-child {
  flex-direction: column !important;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .current-weather ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .current-weather ol li:first-child {
    justify-content: center;
    font-size: 3rem;
    grid-column: 1 / 7;
  }

  .current-weather ol li:nth-child(2) {
    flex-direction: column !important;
    align-items: center;
  }

  .current-weather ol li:nth-child(3) {
    flex-direction: column !important;
    justify-content: center;
  }

  .current-weather ol li:nth-child(3) img {
    width: 10rem;
  }

  .current-weather ol li:nth-child(4) {
    flex-direction: column !important;
    justify-content: center;
  }

  .current-weather ol li:nth-child(5) {
    flex-direction: column !important;
    justify-content: center;
  }

  .current-weather ol li:last-child {
    flex-direction: column !important;
  }
}
