.App {
  text-align: center;
  padding: 1rem;
}

.App-container {
  background-image: url(../src/assets/images/cottage.png);
  background-repeat: no-repeat;
  overflow: auto;
  height: 100vh;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.site-navigation {
  margin: 1rem;
}

.current-weather {
  margin: 0 auto;
}

.weather-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  color: #fff;
}

.forecast {
  list-style: none;
}

.availability-container {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
