@font-face {
  font-family: "Beachfly";
  src: url("../../assets/fonts/Beachfly.woff") format("woff"),
    url("../../assets/fonts/Beachfly.woff2") format("woff2");
}

.App-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #e5f1f9;
}

.landing_home-page {
  height: 100%;
}

.landing_main-content {
  background-image: url("../images/cottage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.landing_main-content section:first-child {
  margin: 0 auto;
  text-align: center;
}

.landing_main-content h1 {
  font-family: "Beachfly", serif;
  font-size: 3.5rem;
  font-weight: bolder;
}

.landing_main-content h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.landing_main-content img {
  display: none;
}

.App-link {
  color: #61dafb;
}

.site-navigation {
  margin: 0rem 1rem 0 2rem;
  height: 9%;
  display: flex;
  align-items: center;
}

.availability-container {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

@media screen and (min-width: 767px) {
  .landing_main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f3fffb;
  }
}
