.navigation {
  display: none;
}

@media (min-width: 767px) {
  .navigation {
    display: inline;
    width: 100%;
    height: 50px;
    background-color: aqua;
  }

  .navigation ul {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 20px 0px;
    padding: 0px 25px;
  }

  .navigation ul li {
    list-style-type: none;
    padding-right: 10px;
  }
}
