/*
.desktop-navigation {
  display: none;
}

.mobile-navigation {
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-navigation ul li {
  list-style-type: none;
  padding-right: 10px;
}

.mobile-navigation ul li a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 767px) {
  .desktop-navigation {
    display: inline;
  }

  .desktop-navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .mobile-navigation {
    display: inline;
    width: 100%;
    height: 50px;
    background-color: aqua;
  }

  .mobile-navigation ul {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 20px 0px;
    padding: 0px 25px;
  }

 .mobile-navigation ul li {
    list-style-type: none;
    padding-right: 10px;
  } 
} */
