.landing_mobile-nav-container,
.internal_nav-container {
  width: 100%;
}

/* .internal_mobile-nav-container {
  position: fixed;
  z-index: 4;
  height: 100vh;
  bottom: 0;
} */

.internal_mobile-nav-container.open {
  position: relative;
  z-index: 4;
  height: 100%;
}

/* .mobile-nav_hamburger.open {
  display: block;
} */

.mobile-navigation {
  height: 100vh;
  width: 100vw;
  bottom: 0rem;
  transform: translateX(-100%);
  background-color: rgba(34, 61, 60, 0.95);
  position: absolute;
  z-index: 4;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.mobile-navigation.open {
  height: 100vh;
  width: 100vw;
  bottom: 0rem;
  transform: translateX(0%);
  position: fixed;
}

.navbar-link {
  font-family: "Beachfly", serif;
  font-size: 1.25rem;
  text-decoration: none;
}

@media (min-width: 767px) {
  .mobile-nav_hamburger,
  .internal_mobile-nav {
    display: none !important;
  }

  .desktop-navigation {
    display: block;
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
  }

  .desktop-navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .mobile-navigation {
    display: inline;
    width: 100%;
    height: 50px;
    background-color: aqua;
  }

  .mobile-navigation ul {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 20px 0px;
    padding: 0px 25px;
  }

  .mobile-navigation ul li {
    list-style-type: none;
    padding-right: 10px;
  }
}
