.projects_main-content {
  display: flex;
}

.section-container {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  max-width: 20rem;
}

.section-container h1 {
  margin: 0 auto;
  color: #fff;
}

.section-container ol {
  padding: 1rem;
}

.card {
  width: 18rem;
}

.section-container button {
  color: #fff;
}

.project-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card-details p {
  margin: 0.5rem 0;
}
