.projects-container {
  display: flex;
}

.section-container {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  max-width: 20rem;
}

.section-container h1 {
  margin: 0 auto;
  color: #fff;
}

.section-container ol {
  padding: 1rem;
}

.card {
  width: 18rem;
}

.section-container button {
  color: #fff;
}
